html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
  padding: 20px;
  margin-bottom: 10px;
  background: linear-gradient(50deg, #4558b6, #261360);
  color: white;
  text-align: center;
  font-weight: bolder;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}
.form-control {
  width: 100%;
  border: 2px solid grey;
}
